# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

# Slack downloads directories

Slack_*

# Old slack Grabber application
slack_grabber.py

# Byte-compiled
__pycache__
*.py[cod]
*$py.class
*.pyc

# C extensions
*.so

# Distribution / packaging
.Python
lib
lib64
parts
sdist
var
wheels
pip-wheel-metadata
share/python-wheels
develop-eggs
eggs
.eggs
*.egg-info
*.egg
MANIFEST
.installed.cfg
downloads
docs/_build
build
dist
bin
.buildozer

# Logs
*.log
pip-log.txt
pip-delete-this-directory.txt

# Editors
.vscode
.ipynb_checkpoints
*.swp

# PyCharm
.idea/*
!/.idea/*.iml
!/.idea/modules.xml
!/.idea/vcs.xml
!/.idea/runConfigurations

# Environments
venv
.venv
env
.env
.python-version

# Temp / Cache
cache
.cache
temp
.temp
.pytest_cache
.coverage

Kivy.app

buildAttempt

slackgrabber.spec

installBuildInstructions.md

/kivymd/tools/release/*.zip
/kivymd/tools/release/temp
/kivymd/_version.py
